<div class="checkbox" ng-repeat="item in list.items | orderBy: 'item.name' ">
  <label>
    <input type="checkbox" value="">
    {{item.name}} - {{item.price | currency}}
  </label>
</div>

<p class="bg-success">
	<strong>Expect to spend: {{total | currency}}</strong>
</p>

<hr>

<form ng-submit="sendLink()">
  <fieldset>
    <div class="form-group">
      <label for="sendToSelect">Send list to:</label>
      <select id="sendToSelect" ng-change="updateRecipient()" ng-model="recipient" class="form-control">
        <option value="-1" ng-selected>Choose a recipient</option>
        <option ng-repeat="contact in contacts | orderBy: 'contact.name' " value="{{contact}}">{{contact.name}}</option>  
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </fieldset>
</form>

<br />